* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0e0e0e;
    /* light theme #e7e7e7 */
    color: #fff;
    height: 100vh;
    font-family: "Open Sans";
    transition: all .4s;
}

/* Header */

header {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 100px;
}

.theme-switcher {
    border: 2px solid #e7e7e7;
    width: 60px;
    padding: 4px 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #141414;
    cursor: pointer;
    transition: all .4s;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    cursor: pointer;
    transition: all .4s;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: #e7e7e7;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    transition: all .4s;
}

img {
    z-index: 2;
    user-select: none;
}

.theme-switcher input {
    position: absolute;
    opacity: 0%;
    cursor: pointer;
}

#theme-switcher:checked + label .ball {
    transform: translateX(44px);
    background-color: #0e0e0e;
    transition: all .4s;
}


/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    background-color: #141414;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    min-width: 450px;
    text-align: center;
    transition: all .4s;
}

.container-img img {
    width: 120px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all .4s;
}

.container-name p {
    font-weight: 600;
    font-size: 18px;
}

.container-links {
    width: 100%;
    padding: 24px 0;
}

.container-links ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-top: 12px;
    font-weight: 500;
    font-size: 17px;
}

li {
    list-style: none;
    width: 100%;
}

a { text-decoration: none; }

.link {
    background-color: #0e0e0e;
    color: #fff;
    padding: 12px;
    transition: all .4s;
}

.link:hover {
    transform: scale(1.1);
}

/* Light theme */

body.light {
    background-color: #e7e7e7;
    color: #0e0e0e;
}

body.light .theme-switcher {
    border: 2px solid #0e0e0e;
    background-color: #dbdbdb;
}

body.light .container {
    background-color: #dbdbdb;
}

body.light .container img {
    border: 2px solid #0e0e0e;
}

body.light .link {
    background-color: #e7e7e7;
    color: #0e0e0e;
}

@media screen and (max-width: 700px) {
    
    header {
        align-items: center;
        margin: 0;
    }

    .container {
        min-width: 100vw;
        border-radius: 0;
    }
}
